<div id="page-wrapper">
    <div class="container-fluid">

		<div class="row">
			<div class="col-lg-12">
		    	<h1 class="page-header">
			    	</br>
			        Listado de empleados
		   		</h1>
			</div>

			<input type="search" placeholder="Buscar persona..." ng-model="Mifiltro">

			<table class='table table-hover table-responsive' id="listaPersonas">
				<thead>
					<tr>
						<th>  Nombre  	 </th>
				    	<th>  Porcentaje </th>
				    	<th>  Borrar     </th>
					</tr> 
				</thead>

	<!-- 			<tr ng-repeat="persona in ListadoPersonas | limitTo: 25 | orderBy: ['apellido', '-Nombre'] | filter:{Sueldo: '£':'hola'}:filtrarPorMoneda | filter:{$:mifiltro, Nombre: Qnombre, apellido: Qapellido} as resultado"> -->

				<tr ng-repeat="producto in ListadoProductos | filter: Mifiltro as resultado">
			
					<td>{{producto.nombre}}</td>
					<td>{{producto.porcentaje}}</td>
					<td><button class='btn btn-warning' name='Borrar' ng-click="Borrar(producto)"><span class='glyphicon glyphicon-edit'>&nbsp;</span>Borrar</button></td>
				</tr>
										
				<tr ng-if="resultado.length==0">		
					<td></td>
					<td>No existen personas con esos datos</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</div>
